
body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: black;
}
.nav{
	width: 500px;
	height: 90px;
	background: white;
}
.nav ul{
	display: flex;
	justify-content: center;
	gap: 60px;
}
.icon{
	font-size: 30px;
	height: 90px;
	transition: 0.5s;
	    z-index: 2;

}
.nav ul li{
	list-style-type: none;
}
.nav ul li a{
	display: flex;
	flex-direction: column;
}
.nav ul li.active a .icon{
	transform: translateY(-40px);
}
.nav ul li a .text{
	position: absolute;
	transform: translateY(50px);
    transition: 0.5s;
    opacity: 0;
}
.nav ul li.active a .text{
	transform: translateY(20px);
	opacity: 1;
}

.indicator{
	width: 70px;
    height: 70px;
    background: green;
    position: absolute;
    left: 572px;
    top: 232px;
    z-index: 1;
    border-radius: 50%;
    border: 6px solid;
    transition: 0.5s;
}
.indicator::before{
    content: "";
    width: 20px;
    height: 20px;
    background: transparent;
    position: absolute;
    left: -19px;
    top: 41px;
    border-top-right-radius: 25px;
    box-shadow: 0 -10px 0 0 black;

}
.indicator::after{
        content: "";
    width: 20px;
    height: 20px;
    background: transparent;
    position: absolute;
    left: 70px;
    top: 41px;
    border-top-left-radius: 25px;
    box-shadow: 0 -10px 0 0 black;

}